<p id="notice"><%= notice %></p>

<div style="float:right;"><strong><%= link_to "Bills", bills_path %></strong></div>
<h1>Listing Users</h1>

<table border="1" width="75%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Owes (In Rs.)</th>
      <th>Owes you (In Rs.)</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td><%= user.owes %></td>
        <td><%= user.owes_you %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <!-- <td>< % = link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
